@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;    ;
}

.fundo{
    background-image: url("omiaranha.png");
    background-size: 125%;
    width: 100%;
    height: 789px;
    margin: 0 auto;
    display: flex;
}
.fundo-trans{
    background-color: rgba(0, 0, 0, 0.45);
    width: 100%;
    margin: 0 auto;
}
.container{
    display: block;
    box-sizing: border-box;
    background-color: rgba(226, 226, 226, 0.9);
    width: 40%;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    padding: 30px;
}
h1, p{
    font-weight: bold;
}
.container-op{
    margin: 0 auto;
    display: flex;
    width: 75%;
    justify-content: space-between;
    flex-direction: row;
    background-color: #4E8098;
}
.p-box{
    font-size: 20px;
    font-weight: bold;
    border: 2px black solid;
    color: #fff;
    width: 10%;
    width: 5rem;
    display: inline-block;
}
.input-box{
    margin:  0 auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 15rem;

}
.main--input{
    margin-top: 10px;
    border: none;
    border-radius: .5rem;
    background-color: #fff;
    color: rgb(31, 31, 31);
    padding: 15px;
    font-size: 16px;
    font-weight:  bold;
    text-align: center;
}
.text{
   
}
.text-box{
    background-color:#4E8098;
    color: #fff;
    width: 15rem;
    box-sizing: border-box;
    font-weight: bold;
    padding: .1rem;
    border-radius: .5rem;
    margin: 0 auto;
    margin-top: 10px;
    
}