@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    ;
}

.fundo {
    background-image: url(omiaranha.png);
    background-size: 1463px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    background-repeat: no-repeat;
}

.fundo-trans {
    background-color: rgba(0, 0, 0, 0.45);
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.container {
    display: block;
    box-sizing: border-box;
    background-color: rgba(226, 226, 226, 0.9);
    width: 439px;
    margin: 0 auto;
    height: 617px;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    padding: 30px;
}

h1,
p {
    font-weight: bold;
}

.papagaio {
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.container-op {
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    width: 70%;
    border-radius: .5rem;
    color: #ffffff;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: #4E8098;
}

.p-box {
    font-size: 20px;
    font-weight: bold;
    width: 10%;
    width: 5rem;
    display: inline-block;
}

.input-box {
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 15rem;

}

.main--input {
    margin-top: 10px;
    border: none;
    border-radius: .5rem;
    background-color: #fff;
    color: rgb(31, 31, 31);
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.main--input:focus {
    outline: none;
}

.main--input::-webkit-outer-spin-button,
.main--input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.text-box-blue {
    background-color: #4E8098;
    color: #fff;
    width: 15rem;
    box-sizing: border-box;
    font-weight: bold;
    padding: .1rem;
    border-radius: .5rem;
    margin: 0 auto;
    margin-top: 10px;
}

.text-box-green {
    background-color: #4e985e;
    color: #fff;
    width: 15rem;
    box-sizing: border-box;
    font-weight: bold;
    padding: .1rem;
    border-radius: .5rem;
    margin: 0 auto;
    margin-top: 10px;
}

.text-box-red {
    background-color: #A31621;
    color: #fff;
    width: 15rem;
    box-sizing: border-box;
    font-weight: bold;
    padding: .1rem;
    border-radius: .5rem;
    margin: 0 auto;
    margin-top: 10px;
}

@media screen and (max-width:920px) {
    .fundo {
        background-repeat: initial;
        background-size: 920px;
    }
}

@media screen and (max-width:670px) {
    .fundo {
        background-repeat: initial;
        background-size: 670px;
    }

    .container {
        background-color: rgba(226, 226, 226, 0.6);
        width: 80%;
    }
}

@media screen and (max-width:426px) {
    .container {
        width: 100%;
        height: 100%;
    }

    .fundo {
        background-size: 426px;
    }
}

@media screen and (max-width:332px) {
    .h1-container {
        font-size: 29px;
    }
}